@import "./design-system.css";

/* crew */
.crew {
  background-image: url(../images/crew/background-crew-mobile.jpg);
}

@media (min-width: 35rem) {
  .crew {
    background-position: center center;
    background-image: url(../images/crew/background-crew-tablet.jpg);
  }
}

@media (min-width: 45rem) {
  .crew {
    background-image: url(../images/crew/background-crew-desktop.jpg);
  }
}

.numbered-title {
  grid-area: title;
}

/* crew layout */
.grid-container--crew {
  --flow-space: 2rem;
  grid-template-areas:
    "title"
    "image"
    "tabs"
    "content";
}

.grid-container--crew > picture {
  grid-area: image;
  max-width: 60%;
  border-bottom: 1px solid hsl(var(--clr-white) / 0.1);
}

.grid-container--crew > .dot-indicators {
  grid-area: tabs;
}

.grid-container--crew > .crew-details {
  grid-area: content;
}

.crew-details h2 {
  color: hsl(var(--clr-white) / 0.5);
}

@media (min-width: 35rem) {
  .numbered-title {
    justify-self: start;
    margin-top: 2rem;
  }

  .grid-container--crew {
    padding-bottom: 0;
    grid-template-areas:
      "title"
      "content"
      "tabs"
      "image";
  }
}

@media (min-width: 45rem) {
  .grid-container {
    text-align: left;
    column-gap: var(--container-gap, 2rem);
    grid-template-columns: minmax(1rem, 1fr) repeat(2, minmax(0, 40rem)) minmax(
        1rem,
        1fr
      );
  }

  .grid-container--crew > picture {
    max-width: 90%;
  }

  .grid-container--crew {
    justify-items: start;
    align-content: start;
    grid-template-areas:
      ". title image ."
      ". content image ."
      ". tabs image .";
  }

  .grid-container--crew > picture {
    grid-column: span 2;
    align-self: start;
    max-width: 90%;
  }
}
